/* stylelint-disable selector-class-pattern */
.hero {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: visible;
}

.hero__container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.hero__content {
  z-index: 2;
}

.hero__title {
  margin-top: 30px;
  margin-bottom: 12px;
  font-family: var(--font-family-alt);
  font-size: var(--fs-h1);
  font-weight: 600;
  line-height: var(--lh-120);
}

.hero__tags {
  margin-bottom: 32px;
  color: var(--clr-primary);
  font-family: var(--font-family-alt);
  font-size: var(--fs-body);
  font-weight: 600;
  text-transform: uppercase;
}

.hero__tags a {
  color: var(--clr-primary);
  text-decoration: underline;
}

.hero__image-wrapper {
  position: relative;
  z-index: 1;
}

.hero__image {
  position: absolute;
  top: -624px;
  right: -529px;
  z-index: -2;
  max-width: none;
  pointer-events: none;
}

/* ПЛАВАЮЩИЕ КНОПКИ */
.floating-buttons {
  position: fixed;
  right: 12px;
  bottom: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border-radius: 50%;
  background-color: var(--clr-bg); /* или белый */
}

.floating-button:hover {
  transform: scale(1.1);
}

.floating-button img {
  width: 24px;
  height: 24px;
}

.scroll-to-top {
  position: fixed;
  right: 12px;
  bottom: 150px;
  z-index: 1000;
  display: flex; /* всегда flex */
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: var(--clr-primary);
  cursor: pointer;
  visibility: hidden;
}

.scroll-to-top.is-visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}

.scroll-to-top svg {
  width: 24px;
  height: 24px;
  transform: rotate(270deg);
}
