/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
@media (width <= 1200px) {
  .header__subpopup {
    grid-template-columns: repeat(3, minmax(195px, 1fr));
  }
}

@media (width <= 1023px) {
  .header__menu {
    gap: 14px;
  }

  .header__subpopup {
    grid-template-columns: repeat(2, minmax(195px, 1fr));
  }
}

@media (width <= 767px) {
  .header__container {
    gap: 50px;
  }

  .header__location {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;
  }

  .header__location-toggle {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto auto;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    gap: 6px;
  }

  .header__location-town {
    grid-column: 1;
  }

  .header__location-current {
    grid-column: 2;
    grid-row: 1;
  }

  .header__location-arrow {
    grid-column: 3;
  }

  .header__location-dropdown {
    right: 0; /* можно добавить, если хочешь fullwidth dropdown */
    left: 0;
    width: 100%; /* dropdown адаптируется к контейнеру */
  }

  /* БУРГЕР МЕНЮ И НАВИГАЦИЯ  */
  .header__burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 200;
    display: flex;
    flex-direction: column;
    max-width: 230px;
    margin-top: 10px;
    padding: 16px 24px;

    /* плавное появление */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-main);
    background-color: var(--clr-bg);
    visibility: hidden;
  }

  .header__nav.is-open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .header__contacts {
    display: none;
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__menu-arrow {
    transform: rotate(90deg);
    order: -1;
  }

  .header__popup-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 320px;
    margin-top: 10px;
    padding: 16px;
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-main);
    background-color: var(--clr-bg);
    gap: 0;
    grid-template-areas:
      'subpopup'
      'popup';
  }

  .header__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: popup;
    width: 100%;
    min-width: 190px;
    max-width: 320px;
    gap: 16px;
  }

  .header__popup-item-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .header__popup-arrow {
    transform: rotate(180deg);
    flex-shrink: 0;
    order: 0;
  }

  .header__popup-item {
    margin-right: 0;
    margin-left: auto;
    order: 1;
  }

  .header__subpopup {
    position: fixed;
    top: 110px;
    right: 250px;
    z-index: 210;
    max-width: 480px;
    max-height: 60vh;
    padding: 16px 24px;
    overflow-y: auto;
    opacity: 1;
    transform: translate(0%, 0%);
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-main);
    background-color: var(--clr-bg);
    gap: 16px;
  }

  .hero__title {
    font-size: clamp(30px, 30px, 32px);
  }

  /* Пробую переключить секцию наши проекты из грида в слайдер */

  .portfolio__grid {
    display: flex;
    padding-bottom: 16px;
    overflow-x: auto;
    gap: 16px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .project-card {
    flex: 0 0 80%;
    min-width: 280px;
    max-width: 320px;
    scroll-snap-align: start;
  }

  .portfolio__slider-wrapper {
    position: relative;
  }

  .portfolio__slider-wrapper .portfolio__arrows {
    display: block;
  }

  .portfolio__arrows {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }

  .slider-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    transition: 0.3s ease;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 50%);
    pointer-events: auto;
  }

  .slider-arrow svg {
    width: 20px;
    height: 20px;
    fill: var(--clr-accent);
  }

  .certificates__slider-wrapper {
    position: relative;
    width: 100%;
  }

  .certificates__slider-wrapper .slider-arrow {
    display: block;
  }

  .certificates__grid {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-behavior: smooth;
  }

  .certificate {
    flex: 0 0 auto;
    width: clamp(150px, 40vw, 320px);
  }

  .slider-arrow--prev {
    left: -30px;
  }

  .slider-arrow--next {
    right: -30px;
  }

  .custom-projects__grid {
    grid-template-columns: auto;
  }

  .about-intro__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about-intro__texttop {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-intro__image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    aspect-ratio: 16 / 9; /* по желанию, можно адаптировать */
  }

  .about-intro__textbottom {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .about-intro__list {
    column-count: 2;
    column-gap: 24px; /* можно изменить отступ между колонками */
  }

  .about-mission__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-details__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .about-details__visual {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about-details__button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 20px;
    justify-self: center;
  }
}

@media (width <= 720px) {
  .header__subpopup {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (width <= 550px) {
  .header__container {
    position: relative;
    gap: 24px;
  }

  .header__location {
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
  }

  .header__location-toggle {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto auto;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    gap: 6px;
  }

  .header__location-town {
    grid-column: 1;
    grid-row: 1;
    width: 50px;
    font-weight: 600;
    text-align: left;
  }

  .header__location-arrow {
    grid-column: 3;
    grid-row: 1;
  }

  .header__location-current {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    gap: 10px;
  }

  .header__subpopup {
    position: absolute;
    top: -15px;
    left: -60px;
    z-index: 210;
    width: 260px;
    max-height: 60vh;
    margin: 0 10px;
    padding: 16px 24px;
    overflow-y: auto;
    opacity: 1;
    transform: translate(0%, 0%);
    box-shadow: var(--shadow-default);
    border-radius: var(--radius-main);
    background-color: var(--clr-bg);
    gap: 16px;
  }

  .hero__container {
    grid-template-columns: 1fr;
  }

  .hero__image-wrapper {
    display: none;
  }

  .hero__title {
    position: relative;
    z-index: 1;
    background: transparent;
  }

  /* Белый логотип */
  .hero__title::before {
    position: absolute;
    top: -80px;
    right: -00;
    z-index: -1;
    width: 150px;
    height: 150px;
    background: url('../img/icon/logobefore.png') no-repeat center/contain;
    content: '';
  }

  /* Зелёный логотип */
  .hero__title::after {
    position: absolute;
    right: -40px;
    bottom: -60px;
    z-index: -1;
    width: 130px;
    height: 130px;
    background: url('../img/icon/logoafter.png') no-repeat center/contain;
    content: '';
  }

  .services__grid {
    grid-template-columns: auto;
  }

  .footer__dienst {
    display: none;
  }

  .project-item {
    flex-direction: column;
  }

  .project-item__image-wrapper {
    max-width: 100%;
  }

  .project-item__content {
    max-width: 100%;
  }

  .project-features {
    flex-direction: column;
  }

  .about-intro__list {
    column-count: 1;
    column-gap: 24px; /* можно изменить отступ между колонками */
  }

  .about-leader__card {
    flex-direction: column;
  }

  .about-mission__grid {
    grid-template-columns: 1fr;
  }
}

/* @media (width <= 500px) {
}

@media (width <= 400px) {
} */
